@import "../valo/valo.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

// Prefix all selectors in your theme with .demo
.demo {

	// Include valo theme styles in your theme
	@include valo;

	.v-select-optiongroup {
		.v-select-option {
			&.red {
				color: desaturate(red, 25%);
			}
			&.green {
				color: desaturate(green, 25%);
			}
			&.blue {
				color: desaturate(blue, 25%);
			}
		}
	}
}
